.table-of-contents ul, 
.table-of-contents li {
    list-style: none;
}

.breadcrumbs>li:first-child{
    display: flex!important;
    align-items: center!important;
}

.theme-doc-breadcrumbs{
    margin-bottom: 40px!important;
}

.theme-doc-toc-mobile{
    margin-bottom: 50px!important;
    margin-top: 40px!important;
}